@import "--var.scss";
@import "--mixing.scss";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none !important;
}
// nav
.logo {
  width: 2rem;
}
.my_nav {
  padding: 2rem;
}
// nav end
// btn
.my_btn {
  background-color: transparent;
  border-color: $c;
  color: $c;
  border: 1px solid;
  padding: 7px 22px !important;
  text-transform: capitalize;
  font-weight: 300 !important;
  border-radius: 25px;
  font-size: 18px;
  font-family: "europa", sans-serif;
  transition: all 0.3s;
  &:hover {
    background-color: $hover;
    border-color: $hover;
    color: white;
  }
}
.my_btn2 {
  text-transform: capitalize;
  margin-right: 1rem;
  font-weight: 500 !important;
  color: $c2;
  font-size: 18px;
  transition: all 0.3s;
  &:hover {
    color: $hover;
  }
}
// btn end
// top title
.top_title {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3.6rem;
    font-weight: 800;
    color: black;
    font-family: auto;
  }
  h3 {
    color: $c2;
    font-size: 1.5em;
  }
}
.top_title_text {
  padding: 8rem;
}
.top_title_img {
  @include bg_img;
  width: 14rem;
  height: 15rem;
  margin: auto;
  margin-top: 6rem;
}
.hero_img {
  @include bg_img;
  width: 42rem;
  height: 17rem;
  margin: auto;
}
// top title end
// banner
.banner {
  background-color: $c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem;
  h1 {
    color: white;
  }
  p {
    color: white;
    font-family: "europa", sans-serif;
    line-height: 1.5;
    text-transform: capitalize;
    padding: 0 6rem;
    font-weight: 500;
    margin-top: 1rem;
    font-size: 16px;
  }
}
// banner end
// tel
.tel_img {
  @include bg_img;
  width: 7rem;
  height: 7rem;
  margin: auto;
}
// tel end
.info_card {
  padding: 1rem;
  h5 {
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    font-family: fantasy;
  }
}
.project_section_img {
  @include bg_img;
  height: 14rem;
  width: 100%;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}
.project_section_h3_div {
  background-color: #5c5b5b;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  transition: all 0.3s;
  padding: 1rem 0;
  h3 {
    color: white;
    font-size: 25px;
    transition: all 0.3s;
  }
}
.project_section_div {
  border-radius: 10px;
}
.project_section_div_link {
  &:hover {
    .project_section_h3_div {
      background-color: $c;
    }
    .project_section_h3_div {
      h3 {
        color: white;
      }
    }
  }
}
